<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>nameGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF2384801E4D66A30095AA95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF2384941E4D66A30095AA95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF23849F1E4D66A30095AA95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
